.address {
  margin-bottom: 30px;
}

.address__title {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.address__label {
  display: block;
  color: @coffee-milk;
  margin-bottom: 5px;
}

.address__country {
  width: 140px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
  appearance: none;
  background-image: url("../img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: top 12px right 5px;
}

.address__city {
  width: 280px;
  padding: 5px;
  box-sizing: border-box;
}

.address__country,
.address__city {
  border: 1px solid #c4b7b1;
  border-radius: 2px;
}
