.comment {
  margin-bottom: 30px;
}

.comment__header {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.comment__textarea {
  resize: none;
  border: 1px solid #c4b7b1;
  border-radius: 2px;
}

.comment__error {
  width: 280px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 15px;
  color: #958781;
  font-size: 11px;
  word-break: break-word;
}

@media (min-width: @tablet-width) {
  .comment__textarea,
  .comment__error {
    width: @tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .comment__textarea {
    width: 384px;
  }

  .comment__error {
    width: 384px;
  }
}
