.comment {
  margin-bottom: 30px;
}

.comment__header {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.comment__textarea {
  resize: none;
  border: 1px solid #c4b7b1;
  border-radius: 2px;
}
