.contacts__title {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.contacts__label {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  color: @coffee-milk;
  margin-bottom: 5px;
}

.contacts__list {
  list-style: none;
  padding-left: 0;
}

.contacts__phone,
.contacts__email,
.contacts__surname,
.contacts__name {
  width: 280px;
  border: 1px solid #c4b7b1;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.contacts__phone::placeholder,
.contacts__email::placeholder,
.contacts__surname::placeholder,
.contacts__name::placeholder {
  color: #817068;
  font-size: 16px;
  font-family: @calibri;
}

@media (min-width: @tablet-width) {
  .contacts__phone,
  .contacts__email,
  .contacts__surname,
  .contacts__name {
    font-size: 20px;
  }

  .contacts__list {
    width: 707px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    width: 390px;
  }

  .contacts__email,
  .contacts__name,
  .contacts__surname,
  .contacts__label {
    width: 185px;
  }

  .contacts__phone {
    width: 160px;
  }
}
