.delivery__title {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.delivery__label {
  color: @red-brown;
}

.delivery__notice {
  color: #c4b7b1;
}
