.footer {
  background:
    url("../img/bg-footer-mobile.jpg") left top no-repeat,
    url("../img/bg-top.png") left 35px top 100px repeat;
  background-color: #f6f3ef;
}

.footer__container {
  margin: 0 auto;
  width: 280px;
  height: 100%;
}

.footer__info,
.footer__catalog {
  display: none;
}

.footer__socials {
  display: flex;
  width: 280px;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.footer__list,
.footer__socials {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__header {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 15px;
}

.footer__trademark,
.footer__paragraph,
.footer__item {
  color: @light-brown;
}

.footer__trademark {
  width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
}

.footer__paragraph {
  width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: justify;
}

.footer__input {
  border: 1px solid #c4b7b1;
  border-radius: 1px;
  width: 280px;
  box-sizing: border-box;
  padding: 5px;
}

.footer__input::placeholder {
  color: @light-brown;
  font-size: 10px;
  font-family: @calibri;
}

.footer__network,
.footer__link {
  font-family: @calibri;
  color: @light-brown;
  text-decoration: none;
}

.footer__item {
  width: 260px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.footer__link {
  display: inline-block;
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 5px;
  border-bottom: 1px solid #bfb6af;
}

.footer__link--callback {
  width: 107px;
}

.footer__link--email {
  width: 125px;
}

@media (min-width: @tablet-width) {
  .footer__container {
    width: @tablet-container;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
  }

  .footer__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-top: 2px solid @carrot;
    align-items: center;
    min-height: 80px;
  }

  .footer__bottom::before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #edeae3;
    top: -7%;
    left: 50%;
    background-color: @carrot;
    box-sizing: border-box;
  }

  .footer__trademark {
    width: 180px;
    margin: 0;
  }

  .footer__socials {
    width: 280px;
    margin: 0;
    padding-bottom: 0;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .footer__list,
  .footer__info,
  .footer__catalog {
    display: initial;
  }

  .footer__container {
    width: @desktop-content;
  }

  .footer__header {
    width: initial;
  }

  .footer__paragraph {
    width: 229px;
    font-size: 13px;
  }

  .footer__input {
    width: 229px;
  }

  .footer__item,
  .footer__link {
    width: initial;
    font-size: 14px;
  }

  .footer--mill {
    width: 66px;
  }

  .footer--cultivators {
    width: 97px;
  }

  .footer--children {
    width: 39px;
  }

  .footer--technics {
    width: 48px;
  }

  .footer--baking {
    width: 79px;
  }

  .footer--tea {
    width: 87px;
  }

  .footer--dishes {
    width: 44px;
  }

  .footer__catalog .footer__list {
    width: 226px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__catalog .footer__item:nth-child(odd) {
    width: 103px;
  }

  .footer__trademark {
    width: 143px;
    font-size: 13px;
  }

  .footer--delivery {
    width: 137px;
  }

  .footer--shop {
    width: 70px;
  }

  .footer--buy {
    width: 154px;
  }

  .footer--master {
    width: 93px;
  }

  .footer--blog {
    width: 28px;
  }
}
