.header {
  position: fixed;
  min-height: 536px;
  width: 0;
  right: 0;
  flex-direction: column;
  background-color: #f7f3ee;
  transition: 0.5s;
  z-index: 100;
  overflow-y: scroll;
}

@media (min-width: @tablet-width) {
  .header {
    width: 100%;
    min-height: 365px;
    position: relative;
    background-image: url("../img/bg-top.png");
  }
}

@media (min-width: @desktop-width) {
  .header {
    background-image: url("../img/bg-header-lines.png");
  }
}
