.logo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo::before {
  display: none;
  position: absolute;
  width: 66px;
  height: 60px;
  content: "";
  background-image: url("../img/logo-symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: -12px;
  left: -32px;
}

.logo__description {
  width: 190px;
  color: #5e3919;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.logo__img {
  margin-bottom: -4px;
}

@media (min-width: @table-container) {
  .logo {
    margin-left: 70px;
  }

  .logo::before {
    display: block;
    left: -70px;
  }
}
