.main {
  padding-top: 10px;
}

.main__container {
  width: @phone-container;
  margin: 0 auto;
  background-image: url("../img/top-pattern.png");
}

.main__button {
  width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  border: 1px solid @carrot;
  font-size: 18px;
  color: @carrot;
  font-weight: 700;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: top 16px right 14px;
}

.main__button:hover {
  background-color: #fff7f1;
}

@media (min-width: @tablet-width) {
  .main {
    width: @tablet-width;
    position: relative;
    z-index: 200;
    margin-top: -17px;
  }

  .main__container {
    width: @tablet-container;
    margin: 0 auto;
    margin-top: -20px;
  }
}
