.middle {
  width: @phone-container;
  margin: 0 auto;
  border-bottom: 2px solid #dcd2c8;
}

.middle__search {
  border-radius: 10px;
  border: none;
}

.middle__search::placeholder {
  font-family: @calibri;
  font-size: 12px;
  color: @light-brown;
}
