.phone {
  margin-bottom: 40px;
}

.phone__number {
  font-family: "Georgia", sans-serif;
  font-size: 33px;
  color: @red-brown;
  margin-top: 0;
  margin-bottom: 0;
}

.phone__back {
  display: inline-block;
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px dotted #c4bbb4;
}
