.phone {
  margin-bottom: 40px;
}

.phone__number {
  width: 270px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Georgia", sans-serif;
  font-size: 33px;
  color: @red-brown;
  margin-top: 0;
  margin-bottom: 0;
}

.phone__back {
  width: 133px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline-block;
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px dotted #c4bbb4;
}

@media (min-width: @table-container) {
  .phone__number {
    font-size: 25px;
    width: 210px;
  }
}
