.point {
  display: none;
  position: relative;
}

.point__title {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: @red-brown;
}

.point__label {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  color: @coffee-milk;
  margin-bottom: 5px;
}

.point__select {
  width: 155px;
  border: 1px solid #c4b7b1;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
  appearance: none;
  background-image: url("../img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: top 12px right 5px;
}

.point__map {
  width: 280px;
  height: 280px;
  border: none;
  box-shadow: 1px 15px 21px -9px #d6d0b7;
}

.point__address {
  width: 390px;
  min-height: 140px;
  display: none;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 78px;
  padding-bottom: 24px;
  position: absolute;
  font-size: 16px;
  line-height: 22px;
  color: #461f02;
  font-weight: 400;
  z-index: 2000;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(253, 252, 250, 0), rgb(253, 252, 250) 54%);
}

.point__default {
  display: block;
}

@media (min-width: @tablet-width) {
  .point__map {
    width: @tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .point__select {
    width: 246px;
  }

  .point__map {
    width: 390px;
    height: 292px;
  }
}
