.tab {
  color: @red-brown;
}

.tab__entity,
.tab__individual {
  width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 18px;
  color: @red-brown;
  background: none;
  border: 1px solid #f0e4ca;
}

.tab__button:hover {
  color: #ff6900;
  cursor: pointer;
}

.tab__individual {
  border: 1px solid #f0e4ca;
  margin-bottom: 15px;
}

.tab__active {
  background-color: #fdfcfa;
}

@media (min-width: @tablet-container) {
  .tab {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .tab__individual,
  .tab__entity {
    text-align: center;
  }
}
