.top {
  width: 0;
  margin: 0 auto;
  font-family: @calibri;
  color: @light-brown;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  border-bottom: 2px solid #dcd2c8;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5f2ec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.top__account,
.top__address {
  position: relative;
  font-style: normal;
  margin-left: 20px;
}

.top__address {
  margin-bottom: 10px;
}

.top__account {
  margin-bottom: 20px;
}

.top__account,
.top__city {
  display: inline-block;
  border-bottom: 1px dotted #c4bbb4;
}

.top__address::before {
  position: absolute;
  content: "";
  background-image: url("../img/map-point.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  top: 0;
  left: -20px;
}

.top__account::before {
  position: absolute;
  content: "";
  background-image: url("../img/account.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 20px;
  top: 0;
  left: -20px;
}
